.about-us {
  width: 1440px;
  height: 877px;
  border: none;
  margin: 0 auto;
  @media (max-width: 1439px) {
    width: 100vw;
    margin: 0 auto;
  }
  @media (max-width: 1100px) {
    height: fit-content;
  }
}
content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: fit-content;
  margin: 0 auto;
  color: $secondary;
  @media (max-width: 1439px) {
    width: 90vw;
  }

  .about-us__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 96px 0 16px 0;
    @media (max-width: 1439px) {
      width: 100%;
    }
    @media (max-width: 1100px) {
      width: 100%;
      flex-wrap: wrap;
      flex-direction: column;
    }
    @media (max-width: 600px) {
      height: fit-content;
    }
    @media (max-width: 450px) {
      margin-top: 70px;
    }

    .about-us__text {
      width: 848px;
      height: 240px;
      @media (max-width: 1439px) {
        width: 65%;
      }
      @media (max-width: 1100px) {
        width: 100%;
      }
      @media (max-width: 600px) {
        height: fit-content;
      }
      h2 {
        font-size: 32px;
        font-weight: 600;
      }
      p {
        font-size: 16px;
        font-weight: 400;
      }
    }

    .about-us__logo-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 416px;
      height: 240px;
      margin-left: 16px;
      background-color: $secondary;
      @media (max-width: 1439px) {
        width: 30%;
      }
      @media (max-width: 1100px) {
        width: auto;
        margin-left: 0;
      }
      @media (max-width: 600px) {
        margin-top: 16px;
      }

      img {
        width: 300px;
        @media (max-width: 1280px) {
          width: 90%;
        }
        @media (max-width: 1100px) {
          width: 400px;
        }

        @media (max-width: 600px) {
          width: 85%;
        }
      }
      @media (max-width: 420px) {
        height: 50vw;
      }
    }
  }
  .about-us__middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    @media (max-width: 1439px) {
      width: 100%;
      justify-content: space-between;
    }
    @media (max-width: 850px) {
      flex-direction: column;
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 412px;
      height: 240px;
      @media (max-width: 450px) {
        height: fit-content;
      }
    }
    .about-us__stat {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;
      @media (max-width: 450px) {
        height: fit-content;
      }

      h2 {
        margin: 32px 16px 12px 32px;
      }
      p {
        margin: 0 16px 0 32px;
      }
    }
    .about-us__icon {
      display: flex;
      flex-direction: row;
      justify-content: end;
      height: fit-content;
      @media (max-width: 1439px) {
        width: 100%;
      }
      img {
        width: auto;
        height: auto;
        width: 116px;
        @media (max-width: 450px) {
          width: 25%;
        }
      }
    }
    .about-us__first-box {
      border: $gray-light 2px solid;
      @media (max-width: 1439px) {
        width: 30%;
      }
      @media (max-width: 850px) {
        width: 100%;
        margin-bottom: 16px;
      }
    }
    .about-us__second-box {
      border: $gray-light 2px solid;
      margin: 0 16px;
      @media (max-width: 1439px) {
        width: 30%;
      }
      @media (max-width: 850px) {
        width: 100%;
        margin: 0;
        margin-bottom: 16px;
      }
    }
    .about-us__third-box {
      border: $gray-light 2px solid;
      @media (max-width: 1439px) {
        width: 30%;
      }
      @media (max-width: 850px) {
        width: 100%;
        margin: 0;
      }
    }
  }
  .about-us__subtitle {
    width: 100%;
    margin: 32px 0 18px;
    p {
      margin: 0;
    }
  }

  .about-us__hr {
    width: 100%;
    hr {
      border: 2px $gray-light solid;
    }
  }

  .about-us__partners {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 116px;

    font-size: 20px;
    font-weight: 400;
    @media (max-width: 1100px) {
      flex-wrap: wrap;
      justify-content: center;
      height: fit-content;
      margin-bottom: 20px;
    }
    div {
      width: fit-content;
      @media (max-width: 635px) {
        margin: 0;
      }
    }
    img {
      filter: grayscale(100%) contrast(0%) brightness(100%);
      @media (max-width: 800px) {
        width: 50%;
      }
    }
  }
}
