.discuss {
  width: 1440px;
  height: fit-content;
  margin: 100px auto 0;
  font-family: "Nunito Sans", sans-serif;

  @media (max-width: 1439px) {
    width: 100vw;
  }
  @media (max-width: 1280px) {
    margin: 0 auto;
  }

  .discuss__wrapper {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 668px;
    margin: 120px auto;
    @media (max-width: 1280px) {
      flex-direction: column;
      align-items: center;
      height: fit-content;
      width: 90vw;
    }

    .discuss__left-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;
      img {
        width: 458px;
      }
      @media (max-width: 1280px) {
        width: fit-content;
      }
      @media (max-width: 600px) {
        height: fit-content;
      }
      .discuss__text {
        width: 524px;
        @media (max-width: 600px) {
          width: 100%;
          height: fit-content;
        }

        h2 {
          font-size: 32px;
          font-weight: 600;
          line-height: 38px;
          margin-top: 0;
          font-family: "Nunito Sans";
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 38px;
          color: $secondary;

          @media (max-width: 450px) {
            font-size: 26px;
          }
        }
        h3 {
          font-family: "Nunito Sans";
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 30px;
          @media (max-width: 450px) {
            font-size: 16px;
          }
        }
      }
      .discuss__img {
        display: flex;
        flex-direction: row;
        justify-content: left;
        img {
          @media (max-width: 600px) {
            width: 90%;
          }
        }
      }
    }
    .discuss__right-box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 50%;
      background-color: $grey-form;

      position: relative;
      @media (max-width: 1280px) {
        padding: 20px;
        width: fit-content;
      }
      .discuss__content {
        width: 584px;
        height: 560px;
        @media (max-width: 630px) {
          width: 100%;
          height: fit-content;
        }

        .discuss__form_title {
          h3 {
            font-size: 20px;
            font-weight: 300;
            line-height: 30px;
            margin-top: 0;
            margin-bottom: 0;
            text-align: left;
            color: $dark-grey;
          }
        }
        .discuss__form_input {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 284px;
          height: 48px;
          border-radius: 0px;
          border: 1px $gray solid;
          background-color: $white;
          margin-top: 3px;
          transition: all 0.3s ease-out;

          &:hover {
            border: 1px solid #1c2e54;
          }
          &:focus-within {
            border: $orange 1px solid;
          }
          @media (max-width: 630px) {
            width: 100%;
          }
        }
        .discuss__form_top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 24px;

          @media (max-width: 550px) {
            flex-direction: column;
          }

          p {
            margin: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 22px;
          }

          input {
            width: 260px;
            height: 24px;
            border-radius: 0px;
            border: none;
            outline: none;
            color: $secondary;
            font-family: "Nunito Sans", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            // background-color: aqua;

            &::placeholder {
              color: $gray;
            }

            @media (max-width: 630px) {
              width: 90%;
            }
          }
          .discuss__form_left {
            width: 284px;
            p {
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 22px;
            }

            @media (max-width: 630px) {
              width: 49%;
            }
            @media (max-width: 550px) {
              width: 100%;
            }
          }
          .discuss__form_right {
            width: 284px;
            p {
              font-style: normal;
              font-weight: 300;
              font-size: 14px;
              line-height: 22px;
            }
            @media (max-width: 630px) {
              width: 49%;
            }
            @media (max-width: 550px) {
              width: 100%;
              margin-top: 16px;
            }
          }
        }
        .discuss__form_middle {
          margin-top: 16px;

          p {
            margin: 0;
            line-height: 22px;
            color: $secondary;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
          }
          .discuss__form_input {
            width: 100%;

            &:focus-within {
              border: $orange 1px solid;
            }
          }
          input {
            width: 560px;
            height: 50%;
            border-radius: 0px;
            border: none;
            outline: none;
            color: $secondary;
            font-family: "Nunito Sans", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            &::placeholder {
              color: $gray;
            }

            @media (max-width: 630px) {
              width: 96%;
            }
          }
        }
        .discuss__form_bottom {
          margin-top: 16px;

          @media (max-width: 630px) {
            width: 100%;
          }
          p {
            margin: 0;
            color: $secondary;
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 22px;
          }
          .discuss__form_input {
            width: 100%;
            height: 174px;
            &:focus-within {
              border: $orange 1px solid;
            }
          }
          textarea {
            width: 560px;
            height: 150px;
            border: none;
            resize: none;

            color: $secondary;
            outline: none;
            font-family: "Nunito Sans", sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            &::placeholder {
              color: $gray;
            }
            @media (max-width: 630px) {
              width: 90%;
            }
          }
        }
        .discuss__form_add {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          height: 38px;
          margin-top: 16px;
          transition: all 0.3s ease-out;
          cursor: pointer;
          &:hover {
            background-color: $gray-hover;
          }

          p {
            width: fit-content;

            margin-right: 8px;
            font-family: "Nunito Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
          }
          img {
            width: 11px;
            height: 11px;
            margin-top: -1px;
            filter: invert(100%);
          }
        }
        .discuss__form_button {
          width: 100%;
          margin-top: 20px;
          button {
            width: 100%;
            height: 48px;
            background-color: $orange;
            border: none;
            color: $white;
            font-family: "Nunito Sans", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            cursor: pointer;

            transition: all 0.3s ease-out;
            &:hover {
              background-color: $orange-hover;
            }
          }
        }
      }

      .discuss__policy {
        width: 584px;
        height: 36px;
        margin-top: 24px;
        @media (max-width: 630px) {
          width: 100%;
          height: fit-content;
        }
        p {
          font-style: normal;
          font-weight: 300;
          font-size: 12px;
          line-height: 18px;
          margin-top: 0;
          a {
            color: $orange;
            text-decoration: none;
            cursor: pointer;
          }
        }
      }
    }
  }
  .anchor {
    position: absolute;
    top: -95px;
    @media (max-width: 450px) {
      top: -85px;
    }
  }
}
