.selected-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: fit-content;
  margin: 0 auto;
  @media (max-width: 1439px) {
    width: 100vw;
  }
}
.selected-cases__title {
  width: 1232px;
  height: fit-content;
  margin-top: 120px;
  margin-bottom: 48px;
  @media (max-width: 1280px) {
    width: 90vw;
  }
  @media (max-width: 450px) {
    margin-top: 100px;
  }

  h2 {
    margin: 0;
    font-size: 32px;
    font-weight: 600;
  }
}

.selected-cases__content {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: auto;
  @media (max-width: 1280px) {
    width: 90vw;
  }

  .selected-cases__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    margin: 24px;
    @media (max-width: 460px) {
      margin: 20px;
    }
    .selected-cases__text {
      h2 {
        font-size: 32px;
        font-weight: 600;
        line-height: 38px;
        color: $white;
        margin: 0;
        @media (max-width: 650px) {
          font-size: 26px;
        }
      }
      p {
        font-size: 16px;
        font-weight: 400;
        color: $white;
        margin: 0;
        margin-top: 16px;
        line-height: 24px;
        @media (max-width: 650px) {
          font-size: 14px;
        }
      }
    }
    .selected-cases__logo {
      display: flex;
      flex-direction: row;
      justify-content: end;
      img {
        width: 112px;
      }

      @media (max-width: 650px) {
        img {
          width: 25%;
        }
      }
    }
  }
  .selected-cases__top_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    @media (max-width: 1280px) {
      flex-direction: column;
      height: fit-content;
      align-items: center;
    }

    .selected-cases__top_content__left {
      width: 632px;
      height: 600px;
      background-image: url(../images/am-img.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @media (max-width: 1280px) {
        width: 90vw;
      }
      @media (max-width: 650px) {
        height: 90vw;
      }

      .selected-cases__am-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        @media (max-width: 1280px) {
          width: 90vw;
        }
        .selected-cases__wrapper {
          height: 100%;
          p {
            width: 524px;
            @media (max-width: 600px) {
              width: auto;
            }
          }
        }
      }
    }
    .selected-cases__top_content__right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 632px;
      height: 600px;

      @media (max-width: 1280px) {
        width: 90vw;
        margin-top: 16px;
      }
      @media (max-width: 650px) {
        height: fit-content;
      }

      .selected-cases__rzd_block {
        display: flex;
        flex-direction: row;
        height: 292px;
        background-color: $gray-light;
        @media (max-width: 1280px) {
          width: 90vw;
        }
        @media (max-width: 650px) {
          height: fit-content;
        }

        .selected-cases__rzd-img {
          width: 530px;
          background-image: url(../images/rzd-img.png);
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
        }
        .selected-cases__wrapper {
          h2 {
            color: $secondary;
          }
          p {
            color: $secondary;
          }
        }
      }
      .selected-cases__declarant_block {
        width: 100%;
        background-color: beige;
        height: 292px;
        background-image: url(../images/declarant-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        .selected-cases__wrapper {
          height: 87%;
        }
        @media (max-width: 650px) {
          height: 44vw;
          margin-top: 16px;
        }
        @media (max-width: 390px) {
          height: fit-content;
        }
      }
    }
  }
  .selected-cases__bottom_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: row wrap;

    @media (max-width: 1280px) {
      align-items: center;
      justify-content: space-between;
      width: 90vw;
      margin: 0 auto;
    }

    @keyframes showBlock {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    .selected-cases__ice-palace {
      width: 416px;
      height: 424px;
      margin-top: 16px;
      background-image: url(../images/ice-palace-img.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media (max-width: 1280px) {
        width: 44vw;
      }
      @media (max-width: 850px) {
        height: 44vw;
      }
      @media (max-width: 600px) {
        width: 90vw;
      }
      @media (max-width: 390px) {
        height: fit-content;
      }
    }
    .selected-cases__cryptonator {
      width: 416px;
      height: 424px;
      margin-top: 16px;
      background-image: url(../images/cryptonator-img.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @media (max-width: 1280px) {
        width: 44vw;
      }
      @media (max-width: 850px) {
        height: 44vw;
      }
      @media (max-width: 800px) {
        background: linear-gradient(
            rgba(49, 48, 48, 0.8),
            rgba(13, 13, 13, 0.5)
          ),
          url(../images/cryptonator-img.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
      @media (max-width: 600px) {
        width: 90vw;
      }
      @media (max-width: 320px) {
        height: fit-content;
      }
    }

    .selected-cases__bicycle-city {
      background-image: url(../images/bicycle-city.png);

      display: none;
      width: 416px;
      height: 424px;
      margin-top: 16px;
      animation: showBlock 0.5s linear forwards;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      @media (max-width: 1280px) {
        width: 44vw;
      }
      @media (max-width: 850px) {
        height: 44vw;
      }
      @media (max-width: 800px) {
        background: linear-gradient(
            rgba(49, 48, 48, 0.8),
            rgba(13, 13, 13, 0.5)
          ),
          url(../images/bicycle-city.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
      @media (max-width: 600px) {
        width: 90vw;
      }
      @media (max-width: 320px) {
        height: fit-content;
      }

      .selected-cases__text {
        h2,
        p {
          color: $secondary;
          @media (max-width: 800px) {
            color: $white;
          }
        }
      }
    }
    .selected-cases__peterhof {
      background-image: url(../images/peterhof.png);
      display: none;
      width: 416px;
      height: 424px;
      margin-top: 16px;
      transition: all 0.3s;
      animation: showBlock 0.5s linear forwards;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media (max-width: 1280px) {
        width: 44vw;
      }
      @media (max-width: 850px) {
        height: 44vw;
      }
      @media (max-width: 720px) {
        background: linear-gradient(
            rgba(49, 48, 48, 0.8),
            rgba(13, 13, 13, 0.5)
          ),
          url(../images/peterhof.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }
      @media (max-width: 600px) {
        width: 90vw;
      }
      @media (max-width: 320px) {
        height: fit-content;
      }
      .selected-cases__text {
        h2,
        p {
          color: $secondary;
          @media (max-width: 720px) {
            color: $white;
          }
        }
      }
    }
    .selected-cases__glonass {
      display: none;
      width: 416px;
      height: 424px;
      margin-top: 16px;
      animation: showBlock 0.5s linear forwards;

      background-image: url(../images/glonass.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media (max-width: 1280px) {
        width: 44vw;
      }
      @media (max-width: 850px) {
        height: 44vw;
      }
      @media (max-width: 600px) {
        width: 90vw;
      }
      @media (max-width: 320px) {
        height: fit-content;
      }
    }
    .selected-cases__alfa-mk {
      display: none;
      width: 416px;
      height: 424px;
      margin-top: 16px;
      animation: showBlock 0.5s linear forwards;

      background-image: url(../images/alfa-mk.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;

      @media (max-width: 1280px) {
        width: 44vw;
      }
      @media (max-width: 850px) {
        height: 44vw;
      }
      @media (max-width: 600px) {
        width: 90vw;
      }
      @media (max-width: 390px) {
        height: fit-content;
      }
    }
    .selected-cases__add {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 416px;
      height: 424px;
      margin-top: 16px;
      background-color: $secondary;
      cursor: pointer;
      img {
        width: 27px;
      }
      @media (max-width: 1280px) {
        width: 44vw;
        margin: 20px auto;
      }
      @media (max-width: 850px) {
        height: 44vw;
      }
      @media (max-width: 600px) {
        width: 90vw;
        //  margin: 0;
      }

      .selected-cases__add-wrapper {
        //  width: 272px;
        height: 124px;
        text-align: center;
        h3 {
          font-size: 20px;
          font-weight: 400;
          color: $white;
          @media (max-width: 650px) {
            font-size: 16px;
          }
          @media (max-width: 460px) {
            font-size: 13px;
          }
        }
      }
    }
  }
}
