@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800&display=swap");
.header {
  position: fixed;
  width: 100vw;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: #ffffff;
}
.header .container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}
.header .navbar {
  display: none;
  width: 100%;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
  background-color: #ffffff;
}
@media (max-width: 1040px) {
  .header .navbar {
    display: block;
  }
}
.header .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header .navbar .menu-items {
  display: flex;
  width: 90vw;
  margin: 0;
  padding-top: 100px;
  padding-left: 0px;
}
.header .navbar .nav-container li {
  list-style: none;
  background-color: aliceblue;
}
.header .navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}
.header .nav-container {
  display: block;
  position: relative;
  height: 80px;
  width: 100vw;
}
.header .nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 25px;
  right: 5vw;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  position: absolute;
}
.header .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 25px;
  right: 5vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}
.header .nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}
.header .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}
.header .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}
.header .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}
.header .navbar .menu-items {
  margin: 0 auto;
  padding-top: 120px;
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  justify-content: start;
  width: 100vw;
  background-color: #ffffff;
}
.header .navbar .menu-items img {
  margin-top: 15vw;
}
.header .navbar .menu-items li {
  height: 10vh;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  align-self: center;
  margin-bottom: 1%;
  background-color: #ffffff;
}
.header .navbar .menu-items li:hover {
  border-bottom: solid 3px #fca311;
}
.header .logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60px;
  justify-content: left;
  width: 50vw;
  top: 8px;
  transition: all 0.2s ease-in-out;
}
.header .logo img {
  width: 150px;
  height: auto;
  margin: 0;
  margin-left: 5vw;
}
.header .nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}
.header .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}
.header .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}
.header .nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}
.header .nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}
@media (max-width: 1439px) {
  .header {
    width: 100vw;
    margin: 0 auto;
    padding: 0;
  }
}
.header .header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  padding: 0px 80px;
  width: 90vw;
  margin: 0 auto;
  max-width: 1440px;
  height: 80px;
  justify-content: center;
  background-color: #ffffff;
  border-bottom: none !important;
}
@media (max-width: 1439px) {
  .header .header__wrapper {
    padding: 10px 80px;
    justify-content: center;
  }
}
@media (max-width: 1040px) {
  .header .header__wrapper {
    display: none;
  }
}
.header .header__wrapper div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  transition: all 0.3s ease-out;
}
.header .header__wrapper div:hover {
  background-color: #f2f2f2;
  cursor: pointer !important;
}
.header .header__wrapper div a {
  text-decoration: none;
  color: #1c2e54;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.header .header__wrapper .header__brand {
  width: 130px;
}
.header .header__wrapper .header__about-us {
  margin-left: 30px;
}
.header .header__logo {
  margin-left: 0;
  width: 125px;
  margin-bottom: -6px;
}
@media (max-width: 1280px) {
  .header .header__logo {
    margin-left: auto;
    margin-right: auto;
  }
}
.header .header__button {
  background-color: #ffffff !important;
  margin-left: auto;
}
.header .header__button a {
  width: 180px;
  height: 38px;
}
.header .header__button button {
  transition: all 0.3s ease-out;
  width: 180px;
  height: 38px;
  background-color: #fca311;
  color: #ffffff;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  border: none;
  cursor: pointer;
}
.header .header__button button:hover {
  background-color: #e38e03;
}
@media (max-width: 1439px) {
  .header .header__button {
    margin-left: auto;
  }
}

.active {
  border-bottom: solid 3px #fca311;
}
.active a {
  margin-bottom: -3px;
}

#app {
  border: none !important;
}

.welcome-screen {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  height: 700px;
  background: linear-gradient(103.2deg, #14213d 0%, #28427b 111.47%);
  border: none;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .welcome-screen {
    width: 100vw;
    margin: 0 auto;
  }
}
@media (max-width: 380px) {
  .welcome-screen {
    height: 600px;
  }
}

.welcome-screen__left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  color: #ffffff;
}
@media (max-width: 1439px) {
  .welcome-screen__left-box {
    width: 50%;
  }
}
.welcome-screen__left-box .welcome-screen__info {
  flex-direction: column;
  align-items: center;
  width: 456px;
  height: 234px;
  margin-left: 150px;
}
@media (max-width: 850px) {
  .welcome-screen__left-box .welcome-screen__info {
    width: 60vw;
  }
}
@media (max-width: 320px) {
  .welcome-screen__left-box .welcome-screen__info {
    margin-left: 35vw;
  }
}
@media (max-width: 1439px) {
  .welcome-screen__left-box {
    width: 50%;
  }
}
@media (max-width: 850px) {
  .welcome-screen__left-box {
    width: 50vw;
    margin-top: -100px;
  }
}
@media (max-width: 600px) {
  .welcome-screen__left-box {
    z-index: 2;
  }
}
@media (max-width: 420px) {
  .welcome-screen__left-box {
    justify-content: start;
    margin-top: 100px;
  }
}
.welcome-screen__left-box .welcome-screen__title h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 0;
}
@media (max-width: 420px) {
  .welcome-screen__left-box .welcome-screen__title h1 {
    font-size: 36px;
  }
}
@media (max-width: 600px) {
  .welcome-screen__left-box .welcome-screen__title {
    width: 80vw;
  }
}
@media (max-width: 600px) {
  .welcome-screen__left-box .welcome-screen__subtitle {
    width: 80vw;
  }
}
.welcome-screen__left-box .welcome-screen__subtitle h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0;
}
@media (max-width: 420px) {
  .welcome-screen__left-box .welcome-screen__subtitle h3 {
    font-size: 18px;
  }
}

.welcome-screen__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  background-image: url(../images/welcome-screen.png);
}
@media (max-width: 1439px) {
  .welcome-screen__picture {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .welcome-screen__picture {
    z-index: 1;
  }
}

.welcome-screen__buttons {
  margin-top: 48px;
}
.welcome-screen__buttons button {
  cursor: pointer;
}
.welcome-screen__buttons .welcome-screen__write-us {
  transition: all 0.3s ease-out;
  width: 220px;
  height: 48px;
  background-color: #fca311;
  color: #ffffff;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
}
.welcome-screen__buttons .welcome-screen__write-us:hover {
  background-color: #e38e03;
}
.welcome-screen__buttons .welcome-screen__working {
  background: none;
  width: 220px;
  height: 48px;
  color: #ffffff;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  border: none;
  text-align: center;
}
@media (max-width: 420px) {
  .welcome-screen__buttons .welcome-screen__working {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  .welcome-screen__buttons {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .welcome-screen__buttons {
    width: 80vw;
  }
}

.about-us {
  width: 1440px;
  height: 877px;
  border: none;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .about-us {
    width: 100vw;
    margin: 0 auto;
  }
}
@media (max-width: 1100px) {
  .about-us {
    height: -moz-fit-content;
    height: fit-content;
  }
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1280px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #14213d;
}
@media (max-width: 1439px) {
  content {
    width: 90vw;
  }
}
content .about-us__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 96px 0 16px 0;
}
@media (max-width: 1439px) {
  content .about-us__header {
    width: 100%;
  }
}
@media (max-width: 1100px) {
  content .about-us__header {
    width: 100%;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  content .about-us__header {
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 450px) {
  content .about-us__header {
    margin-top: 70px;
  }
}
content .about-us__header .about-us__text {
  width: 848px;
  height: 240px;
}
@media (max-width: 1439px) {
  content .about-us__header .about-us__text {
    width: 65%;
  }
}
@media (max-width: 1100px) {
  content .about-us__header .about-us__text {
    width: 100%;
  }
}
@media (max-width: 600px) {
  content .about-us__header .about-us__text {
    height: -moz-fit-content;
    height: fit-content;
  }
}
content .about-us__header .about-us__text h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
content .about-us__header .about-us__text p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
content .about-us__header .about-us__logo-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 240px;
  margin-left: 16px;
  background-color: #14213d;
}
@media (max-width: 1439px) {
  content .about-us__header .about-us__logo-box {
    width: 30%;
  }
}
@media (max-width: 1100px) {
  content .about-us__header .about-us__logo-box {
    width: auto;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  content .about-us__header .about-us__logo-box {
    margin-top: 16px;
  }
}
content .about-us__header .about-us__logo-box img {
  width: 300px;
}
@media (max-width: 1280px) {
  content .about-us__header .about-us__logo-box img {
    width: 90%;
  }
}
@media (max-width: 1100px) {
  content .about-us__header .about-us__logo-box img {
    width: 400px;
  }
}
@media (max-width: 600px) {
  content .about-us__header .about-us__logo-box img {
    width: 85%;
  }
}
@media (max-width: 420px) {
  content .about-us__header .about-us__logo-box {
    height: 50vw;
  }
}
content .about-us__middle {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media (max-width: 1439px) {
  content .about-us__middle {
    width: 100%;
    justify-content: space-between;
  }
}
@media (max-width: 850px) {
  content .about-us__middle {
    flex-direction: column;
  }
}
content .about-us__middle div {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 412px;
  height: 240px;
}
@media (max-width: 450px) {
  content .about-us__middle div {
    height: -moz-fit-content;
    height: fit-content;
  }
}
content .about-us__middle .about-us__stat {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
}
@media (max-width: 450px) {
  content .about-us__middle .about-us__stat {
    height: -moz-fit-content;
    height: fit-content;
  }
}
content .about-us__middle .about-us__stat h2 {
  margin: 32px 16px 12px 32px;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
}
content .about-us__middle .about-us__stat p {
  margin: 0 16px 0 32px;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
content .about-us__middle .about-us__icon {
  display: flex;
  flex-direction: row;
  justify-content: end;
  height: -moz-fit-content;
  height: fit-content;
}
@media (max-width: 1439px) {
  content .about-us__middle .about-us__icon {
    width: 100%;
  }
}
content .about-us__middle .about-us__icon img {
  width: auto;
  height: auto;
  width: 116px;
}
@media (max-width: 450px) {
  content .about-us__middle .about-us__icon img {
    width: 25%;
  }
}
content .about-us__middle .about-us__first-box {
  border: #f2f2f2 2px solid;
}
@media (max-width: 1439px) {
  content .about-us__middle .about-us__first-box {
    width: 30%;
  }
}
@media (max-width: 850px) {
  content .about-us__middle .about-us__first-box {
    width: 100%;
    margin-bottom: 16px;
  }
}
content .about-us__middle .about-us__second-box {
  border: #f2f2f2 2px solid;
  margin: 0 16px;
}
@media (max-width: 1439px) {
  content .about-us__middle .about-us__second-box {
    width: 30%;
  }
}
@media (max-width: 850px) {
  content .about-us__middle .about-us__second-box {
    width: 100%;
    margin: 0;
    margin-bottom: 16px;
  }
}
content .about-us__middle .about-us__third-box {
  border: #f2f2f2 2px solid;
}
@media (max-width: 1439px) {
  content .about-us__middle .about-us__third-box {
    width: 30%;
  }
}
@media (max-width: 850px) {
  content .about-us__middle .about-us__third-box {
    width: 100%;
    margin: 0;
  }
}
content .about-us__subtitle {
  width: 100%;
  margin: 32px 0 18px;
}
content .about-us__subtitle p {
  margin: 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
content .about-us__hr {
  width: 100%;
}
content .about-us__hr hr {
  border: 1px #f2f2f2 solid;
}
content .about-us__partners {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 116px;
  margin-left: -75px;
  font-size: 20px;
  font-weight: 400;
}
@media (max-width: 1100px) {
  content .about-us__partners {
    flex-wrap: wrap;
    justify-content: center;
    height: -moz-fit-content;
    height: fit-content;
    margin-bottom: 20px;
  }
}
@media (max-width: 450px) {
  content .about-us__partners {
    margin: 0 auto;
  }
}
content .about-us__partners div {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media (max-width: 635px) {
  content .about-us__partners div {
    margin: 0;
  }
}
content .about-us__partners img {
  filter: grayscale(100%) contrast(0%) brightness(130%);
  width: 50%;
}
@media (max-width: 800px) {
  content .about-us__partners img {
    width: 50%;
  }
}
@media (max-width: 450px) {
  content .about-us__partners img {
    width: 30%;
  }
}

.how-we-work {
  width: auto;
  height: auto;
  margin-top: -150px;
}
.how-we-work main {
  overflow-x: hidden;
  display: flex;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  width: 100vw;
}
.how-we-work section {
  min-width: 50%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
  background-color: #14213d;
  margin-top: 80px;
}
@media (max-width: 1040px) {
  .how-we-work section {
    margin-top: 80px;
  }
}
@media (max-width: 950px) {
  .how-we-work section {
    min-width: 100%;
  }
}
.how-we-work section .steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.how-we-work section .how-we-work__block {
  margin-top: -100px;
  height: 75%;
  width: 65%;
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
}
@media (max-width: 950px) {
  .how-we-work section .how-we-work__block {
    width: 80%;
  }
}
@media (max-width: 550px) {
  .how-we-work section .how-we-work__block {
    width: 90%;
  }
}
@media (max-width: 425px) {
  .how-we-work section .how-we-work__block {
    margin-left: 0;
    margin-right: 0;
  }
}
.how-we-work section .how-we-work__block .how-we-work__title h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 64px;
  color: #14213d;
  font-family: "Nunito Sans";
  font-style: normal;
  line-height: 122px;
  text-shadow: 0 -1px 1px #f2f2f2, 0 -1px 1px #f2f2f2, 0 1px 1px #f2f2f2, 0 1px 1px #f2f2f2, -1px 0 1px #f2f2f2, 1px 0 1px #f2f2f2, -1px 0 1px #f2f2f2, 1px 0 1px #f2f2f2, -1px -1px 1px #f2f2f2, 1px -1px 1px #f2f2f2, -1px 1px 1px #f2f2f2, 1px 1px 1px #f2f2f2, -1px -1px 1px #f2f2f2, 1px -1px 1px #f2f2f2, -1px 1px 1px #f2f2f2, 1px 1px 1px #f2f2f2;
}
.how-we-work section .how-we-work__block .how-we-work__title p {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}
@media (min-width: 450px) {
  .how-we-work section .lottie-player {
    display: none;
  }
}
.how-we-work section .steps .how-we-work__text {
  margin: 24px;
}
.how-we-work section .steps .how-we-work__text span {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fca311;
}
.how-we-work section .steps .how-we-work__text h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 0;
}
.how-we-work section .steps .how-we-work__text p {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  margin-top: 14px;
}
.how-we-work section .steps .how-we-work__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.how-we-work section .steps img {
  width: auto;
  width: 50%;
  margin: 0 auto;
}

.how-we-work-mobile {
  overflow-x: auto;
  overflow-y: hidden;
  height: -moz-fit-content;
  height: fit-content;
  width: 100vw;
  margin: 50px auto;
  scroll-snap-type: x mandatory;
  flex-wrap: nowrap;
}
.how-we-work-mobile .sections {
  height: 85vh !important;
}
.how-we-work-mobile .sections main {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.how-we-work-mobile .sections main .section_item {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100vw;
  height: 85vh;
  font-size: 20px;
  scroll-snap-align: start;
  background-color: #14213d;
}
.how-we-work-mobile .sections main .section_item img {
  width: 100px;
}
.how-we-work-mobile .sections main .section_item .how-we-work__block {
  width: 95vw;
  margin: 0 20px 0 20px;
}
.how-we-work-mobile .sections main .section_item .how-we-work__block .how-we-work__title h1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 50px;
  color: #14213d;
  text-shadow: 0 -1px 1px #f2f2f2, 0 -1px 1px #f2f2f2, 0 1px 1px #f2f2f2, 0 1px 1px #f2f2f2, -1px 0 1px #f2f2f2, 1px 0 1px #f2f2f2, -1px 0 1px #f2f2f2, 1px 0 1px #f2f2f2, -1px -1px 1px #f2f2f2, 1px -1px 1px #f2f2f2, -1px 1px 1px #f2f2f2, 1px 1px 1px #f2f2f2, -1px -1px 1px #f2f2f2, 1px -1px 1px #f2f2f2, -1px 1px 1px #f2f2f2, 1px 1px 1px #f2f2f2;
}
.how-we-work-mobile .sections main .section_item .how-we-work__block .how-we-work__title p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.how-we-work-mobile .sections main .section_item .steps {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.how-we-work-mobile .sections main .section_item .steps .how-we-work__text span {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #fca311;
}
.how-we-work-mobile .sections main .section_item .steps .how-we-work__text h1 {
  font-size: 34px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.how-we-work-mobile .sections main .section_item .steps .how-we-work__text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.how-we-work-mobile .sections main .section_item .steps .how-we-work__picture {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
}
.how-we-work-mobile .sections main .section_item .steps img {
  width: 60%;
  width: 50%;
  margin: 0 auto;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .services {
    width: 100vw;
  }
}

.services__title {
  width: 1232px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 120px;
  margin-bottom: 48px;
}
@media (max-width: 1280px) {
  .services__title {
    width: 90vw;
  }
}
@media (max-width: 450px) {
  .services__title {
    margin-top: 100px;
  }
}
.services__title h2 {
  margin: 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #14213d;
}

.services__content {
  display: grid;
  grid-template-columns: 632px 632px;
  grid-column-gap: 16px;
  grid-template-rows: 300px 300px;
  grid-row-gap: 32px;
  justify-content: center;
}
@media (max-width: 1280px) {
  .services__content {
    display: flex;
    flex-direction: column;
  }
}

.services__content_block {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1280px) {
  .services__content_block {
    width: 90vw;
    justify-content: space-between;
  }
}
@media (max-width: 650px) {
  .services__content_block {
    height: 45vw;
  }
}
@media (max-width: 550px) {
  .services__content_block {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: -moz-fit-content;
    height: fit-content;
    border: #f2f2f2 2px solid;
  }
}
.services__content_block .services__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 408px;
}
@media (max-width: 630px) {
  .services__content_block .services__description {
    width: 60%;
    margin-left: 10px;
    z-index: 2;
  }
}
@media (max-width: 550px) {
  .services__content_block .services__description {
    width: 90vw;
    margin: 0;
  }
}
.services__content_block .services__description .services__wrapper {
  width: 344px;
  margin-top: 32px;
}
@media (max-width: 630px) {
  .services__content_block .services__description .services__wrapper {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .services__content_block .services__description .services__wrapper {
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 0;
  }
}
.services__content_block .services__description .services__wrapper h2 {
  margin-top: 0;
  margin-bottom: 12px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 38px;
  color: #14213d;
}
@media (max-width: 650px) {
  .services__content_block .services__description .services__wrapper h2 {
    font-size: 26px;
  }
}
@media (max-width: 600px) {
  .services__content_block .services__description .services__wrapper h2 {
    line-height: 30px;
  }
}
@media (max-width: 550px) {
  .services__content_block .services__description .services__wrapper h2 {
    margin-left: 18px;
    width: -moz-fit-content;
    width: fit-content;
    margin-bottom: 26px;
    font-size: 26px;
    line-height: 30px;
    margin-top: 16px;
  }
}
.services__content_block .services__description .services__wrapper p {
  margin-top: 0;
  margin-bottom: 0;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #14213d;
}
@media (max-width: 650px) {
  .services__content_block .services__description .services__wrapper p {
    font-size: 14px;
  }
}
@media (max-width: 600px) {
  .services__content_block .services__description .services__wrapper p {
    line-height: 16px;
  }
}
@media (max-width: 550px) {
  .services__content_block .services__description .services__wrapper p {
    margin-left: 18px;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 16px;
    line-height: 26px;
  }
}
@media (max-width: 630px) {
  .services__content_block .services__description .services__button {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .services__content_block .services__description .services__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
.services__content_block .services__description .services__button button {
  width: 344px;
  height: 38px;
  margin-bottom: 32px;
  background-color: #ffffff;
  border: 1px solid #b3b3b3;
  color: #14213d;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.services__content_block .services__description .services__button button:hover {
  border: 1px solid #1c2e54;
}
@media (max-width: 630px) {
  .services__content_block .services__description .services__button button {
    width: 100%;
  }
}
@media (max-width: 550px) {
  .services__content_block .services__description .services__button button {
    height: 30px;
    margin-top: 26px;
    margin-bottom: 16px;
    width: 90%;
    font-size: 14px;
  }
}
.services__content_block .services__description .services__button .new-button-img {
  display: none;
}
.services__content_block .services__description .services__button .new-button-img img {
  width: 10vw;
  height: auto;
}
@media (max-width: 335px) {
  .services__content_block .services__description .services__button .new-button-img img {
    width: 9vw;
  }
}
@media (max-width: 320px) {
  .services__content_block .services__description .services__button .new-button-img img {
    width: 8vw;
  }
}
@media (max-width: 287px) {
  .services__content_block .services__description .services__button .new-button-img img {
    width: 7vw;
  }
}
.services__content_block .services__img {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 224px;
}
@media (max-width: 630px) {
  .services__content_block .services__img {
    width: 50%;
    z-index: 1;
  }
}
@media (max-width: 550px) {
  .services__content_block .services__img {
    display: none;
  }
}
.services__content_block .services__img img {
  width: 208px;
  height: 300px;
}
@media (max-width: 650px) {
  .services__content_block .services__img img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 550px) {
  .services__content_block .services__img img {
    height: auto;
  }
}

.first_content_block {
  background-color: #14213d !important;
  border: none !important;
}
.first_content_block h2 {
  color: #f2f2f2 !important;
}
.first_content_block p {
  color: #f2f2f2 !important;
}
.first_content_block button {
  transition: all 0.3s ease-out;
  background-color: #fca311 !important;
  color: #ffffff !important;
  border: none !important;
}
.first_content_block button:hover {
  background-color: #e38e03 !important;
}

.selected-cases {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto;
}
@media (max-width: 1439px) {
  .selected-cases {
    width: 100vw;
  }
}

.selected-cases__title {
  width: 1232px;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 120px;
  margin-bottom: 48px;
}
@media (max-width: 1280px) {
  .selected-cases__title {
    width: 90vw;
  }
}
@media (max-width: 450px) {
  .selected-cases__title {
    margin-top: 100px;
  }
}
.selected-cases__title h2 {
  margin: 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #14213d;
}

.selected-cases__content {
  display: flex;
  flex-direction: column;
  width: 1280px;
  height: auto;
}
@media (max-width: 1280px) {
  .selected-cases__content {
    width: 90vw;
  }
}
.selected-cases__content .selected-cases__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  margin: 24px;
}
@media (max-width: 460px) {
  .selected-cases__content .selected-cases__wrapper {
    margin: 20px;
  }
}
.selected-cases__content .selected-cases__wrapper .selected-cases__text h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  color: #ffffff;
  margin: 0;
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__wrapper .selected-cases__text h2 {
    font-size: 26px;
  }
}
.selected-cases__content .selected-cases__wrapper .selected-cases__text p {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
  margin-top: 16px;
  line-height: 24px;
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__wrapper .selected-cases__text p {
    font-size: 14px;
  }
}
.selected-cases__content .selected-cases__wrapper .selected-cases__logo {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.selected-cases__content .selected-cases__wrapper .selected-cases__logo img {
  width: 112px;
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__wrapper .selected-cases__logo img {
    width: 25%;
  }
}
.selected-cases__content .selected-cases__top_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 600px;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content {
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
    align-items: center;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left {
  width: 632px;
  height: 600px;
  background-image: url(../images/am-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__left {
    width: 90vw;
  }
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__left {
    height: 90vw;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block {
    width: 90vw;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block .selected-cases__wrapper {
  height: 100%;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block .selected-cases__wrapper p {
  width: 524px;
}
@media (max-width: 600px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__left .selected-cases__am-block .selected-cases__wrapper p {
    width: auto;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 632px;
  height: 600px;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__right {
    width: 90vw;
    margin-top: 16px;
  }
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__right {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block {
  display: flex;
  flex-direction: row;
  height: 292px;
  background-color: #f2f2f2;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block {
    width: 90vw;
  }
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__rzd-img {
  width: 530px;
  background-image: url(../images/rzd-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__wrapper h2 {
  color: #14213d;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__rzd_block .selected-cases__wrapper p {
  color: #14213d;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__declarant_block {
  width: 100%;
  background-color: beige;
  height: 292px;
  background-image: url(../images/declarant-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__declarant_block .selected-cases__wrapper {
  height: 87%;
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__declarant_block {
    height: 44vw;
    margin-top: 16px;
  }
}
@media (max-width: 390px) {
  .selected-cases__content .selected-cases__top_content .selected-cases__top_content__right .selected-cases__declarant_block {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__bottom_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-flow: row wrap;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content {
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    margin: 0 auto;
  }
}
@keyframes showBlock {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
  width: 416px;
  height: 424px;
  margin-top: 16px;
  background-image: url(../images/ice-palace-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
    width: 44vw;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
    height: 44vw;
  }
}
@media (max-width: 600px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
    width: 90vw;
  }
}
@media (max-width: 390px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__ice-palace {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
  width: 416px;
  height: 424px;
  margin-top: 16px;
  background-image: url(../images/cryptonator-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
    width: 44vw;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
    height: 44vw;
  }
}
@media (max-width: 800px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
    background: linear-gradient(rgba(49, 48, 48, 0.8), rgba(13, 13, 13, 0.5)), url(../images/cryptonator-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media (max-width: 600px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
    width: 90vw;
  }
}
@media (max-width: 320px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__cryptonator {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city {
  background-image: url(../images/bicycle-city.png);
  display: none;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  animation: showBlock 0.5s linear forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city {
    width: 44vw;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city {
    height: 44vw;
  }
}
@media (max-width: 800px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city {
    background: linear-gradient(rgba(49, 48, 48, 0.8), rgba(13, 13, 13, 0.5)), url(../images/bicycle-city.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media (max-width: 600px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city {
    width: 90vw;
  }
}
@media (max-width: 320px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city .selected-cases__text h2,
.selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city .selected-cases__text p {
  color: #14213d;
}
@media (max-width: 800px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city .selected-cases__text h2,
  .selected-cases__content .selected-cases__bottom_content .selected-cases__bicycle-city .selected-cases__text p {
    color: #ffffff;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof {
  background-image: url(../images/peterhof.png);
  display: none;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  transition: all 0.3s;
  animation: showBlock 0.5s linear forwards;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof {
    width: 44vw;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof {
    height: 44vw;
  }
}
@media (max-width: 720px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof {
    background: linear-gradient(rgba(49, 48, 48, 0.8), rgba(13, 13, 13, 0.5)), url(../images/peterhof.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
}
@media (max-width: 600px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof {
    width: 90vw;
  }
}
@media (max-width: 320px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof .selected-cases__text h2,
.selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof .selected-cases__text p {
  color: #14213d;
}
@media (max-width: 720px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof .selected-cases__text h2,
  .selected-cases__content .selected-cases__bottom_content .selected-cases__peterhof .selected-cases__text p {
    color: #ffffff;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__glonass {
  display: none;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  animation: showBlock 0.5s linear forwards;
  background-image: url(../images/glonass.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__glonass {
    width: 44vw;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__glonass {
    height: 44vw;
  }
}
@media (max-width: 600px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__glonass {
    width: 90vw;
  }
}
@media (max-width: 320px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__glonass {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__alfa-mk {
  display: none;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  animation: showBlock 0.5s linear forwards;
  background-image: url(../images/alfa-mk.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__alfa-mk {
    width: 44vw;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__alfa-mk {
    height: 44vw;
  }
}
@media (max-width: 600px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__alfa-mk {
    width: 90vw;
  }
}
@media (max-width: 390px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__alfa-mk {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 416px;
  height: 424px;
  margin-top: 16px;
  background-color: #14213d;
  cursor: pointer;
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add img {
  width: 27px;
}
@media (max-width: 1280px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__add {
    width: 44vw;
    margin: 20px auto;
  }
}
@media (max-width: 850px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__add {
    height: 44vw;
  }
}
@media (max-width: 600px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__add {
    width: 90vw;
  }
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper {
  height: 124px;
  text-align: center;
  width: 70%;
  margin-top: 15%;
}
.selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}
@media (max-width: 650px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper h3 {
    font-size: 16px;
  }
}
@media (max-width: 460px) {
  .selected-cases__content .selected-cases__bottom_content .selected-cases__add .selected-cases__add-wrapper h3 {
    font-size: 13px;
  }
}

.discuss {
  width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 100px auto 0;
  font-family: "Nunito Sans", sans-serif;
}
@media (max-width: 1439px) {
  .discuss {
    width: 100vw;
  }
}
@media (max-width: 1280px) {
  .discuss {
    margin: 0 auto;
  }
}
.discuss .discuss__wrapper {
  display: flex;
  flex-direction: row;
  width: 1280px;
  height: 668px;
  margin: 120px auto;
}
@media (max-width: 1280px) {
  .discuss .discuss__wrapper {
    flex-direction: column;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: 90vw;
  }
}
.discuss .discuss__wrapper .discuss__left-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}
.discuss .discuss__wrapper .discuss__left-box img {
  width: 458px;
}
@media (max-width: 1280px) {
  .discuss .discuss__wrapper .discuss__left-box {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media (max-width: 600px) {
  .discuss .discuss__wrapper .discuss__left-box {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text {
  width: 524px;
}
@media (max-width: 600px) {
  .discuss .discuss__wrapper .discuss__left-box .discuss__text {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text h2 {
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  margin-top: 0;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  color: #14213d;
}
@media (max-width: 450px) {
  .discuss .discuss__wrapper .discuss__left-box .discuss__text h2 {
    font-size: 26px;
  }
}
.discuss .discuss__wrapper .discuss__left-box .discuss__text h3 {
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
}
@media (max-width: 450px) {
  .discuss .discuss__wrapper .discuss__left-box .discuss__text h3 {
    font-size: 16px;
  }
}
.discuss .discuss__wrapper .discuss__left-box .discuss__img {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
@media (max-width: 600px) {
  .discuss .discuss__wrapper .discuss__left-box .discuss__img img {
    width: 90%;
  }
}
.discuss .discuss__wrapper .discuss__right-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  background-color: #f7f7f7;
  position: relative;
}
@media (max-width: 1280px) {
  .discuss .discuss__wrapper .discuss__right-box {
    padding: 20px;
    width: -moz-fit-content;
    width: fit-content;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content {
  width: 584px;
  height: 560px;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_title h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
  color: #3e3e3e;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 284px;
  height: 48px;
  border-radius: 0px;
  border: 1px #b3b3b3 solid;
  background-color: #ffffff;
  margin-top: 3px;
  transition: all 0.3s ease-out;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_input:hover {
  border: 1px solid #1c2e54;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_input:focus-within {
  border: #fca311 1px solid;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_input {
    width: 100%;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
@media (max-width: 550px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top {
    flex-direction: column;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top p {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top input {
  width: 260px;
  height: 24px;
  border-radius: 0px;
  border: none;
  outline: none;
  color: #14213d;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top input::-moz-placeholder {
  color: #b3b3b3;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top input::placeholder {
  color: #b3b3b3;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top input {
    width: 90%;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_left {
  width: 284px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_left p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_left {
    width: 49%;
  }
}
@media (max-width: 550px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_left {
    width: 100%;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_right {
  width: 284px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_right p {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_right {
    width: 49%;
  }
}
@media (max-width: 550px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_top .discuss__form_right {
    width: 100%;
    margin-top: 16px;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle {
  margin-top: 16px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle p {
  margin: 0;
  line-height: 22px;
  color: #14213d;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle .discuss__form_input {
  width: 100%;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle .discuss__form_input:focus-within {
  border: #fca311 1px solid;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle input {
  width: 560px;
  height: 50%;
  border-radius: 0px;
  border: none;
  outline: none;
  resize: none;
  color: #14213d;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle input::-moz-placeholder {
  color: #b3b3b3;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle input::placeholder {
  color: #b3b3b3;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_middle input {
    width: 90%;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom {
  margin-top: 16px;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom {
    width: 100%;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom p {
  margin: 0;
  color: #14213d;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom .discuss__form_input {
  width: 100%;
  height: 174px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom .discuss__form_input:focus-within {
  border: #fca311 1px solid;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom textarea {
  width: 560px;
  height: 150px;
  border: none;
  resize: none;
  color: #14213d;
  outline: none;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom textarea::-moz-placeholder {
  color: #b3b3b3;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom textarea::placeholder {
  color: #b3b3b3;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_bottom textarea {
    width: 90%;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 38px;
  margin-top: 16px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add:hover {
  background-color: #e6e6e6;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add p {
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 8px;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_add img {
  width: 11px;
  height: 11px;
  margin-top: -1px;
  filter: invert(100%);
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_button {
  width: 100%;
  margin-top: 20px;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_button button {
  width: 100%;
  height: 48px;
  background-color: #fca311;
  border: none;
  color: #ffffff;
  font-family: "Nunito Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__content .discuss__form_button button:hover {
  background-color: #e38e03;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy {
  width: 584px;
  height: 36px;
  margin-top: 24px;
}
@media (max-width: 630px) {
  .discuss .discuss__wrapper .discuss__right-box .discuss__policy {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
  }
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy p {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  margin-top: 0;
}
.discuss .discuss__wrapper .discuss__right-box .discuss__policy p a {
  color: #fca311;
  text-decoration: none;
  cursor: pointer;
}
.discuss .anchor {
  position: absolute;
  top: -95px;
}
@media (max-width: 450px) {
  .discuss .anchor {
    top: -85px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 235px;
  background-color: #14213d;
}
@media (max-width: 1439px) {
  .footer {
    width: 100vw;
  }
}
@media (max-width: 600px) {
  .footer {
    height: -moz-fit-content;
    height: fit-content;
  }
}
.footer .footer__wrapper {
  width: 1280px;
  height: -moz-fit-content;
  height: fit-content;
  margin: 50px 80px;
}
@media (max-width: 1280px) {
  .footer .footer__wrapper {
    width: 90vw;
  }
}
@media (max-width: 600px) {
  .footer .footer__wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .footer .footer__wrapper .footer__email {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
  }
}
.footer .footer__wrapper .footer__email h2 {
  margin: 0;
  color: #ffffff;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}
.footer .footer__wrapper .footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 47px;
}
@media (max-width: 600px) {
  .footer .footer__wrapper .footer__bottom {
    flex-direction: column;
    margin-top: 20px;
  }
}
.footer .footer__wrapper .footer__bottom .footer__logo img {
  width: 150px;
}
.footer .footer__wrapper .footer__bottom .footer__info p {
  color: #cccccc;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}
.footer .footer__wrapper .footer__bottom .footer__year p {
  color: #cccccc;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
}

.popup__block {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: 998;
  background-color: rgba(58, 57, 57, 0.7);
}

.popup__close-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 2%;
  right: 2%;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}
.popup__close-btn img {
  width: 80%;
}

.popup__wrapper {
  width: 80%;
  height: 90%;
  background-color: aliceblue;
  overflow-y: scroll;
}
.popup__wrapper .popup__title {
  text-align: center;
  color: #14213d;
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.popup__wrapper .popup__content li {
  margin-bottom: 20px;
  margin-left: 20px;
}

body,
html {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  scroll-behavior: smooth;
}

#app {
  max-width: 1440px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #ffffff;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}
#app main {
  margin-top: 80px;
  font-family: "Nunito Sans", sans-serif;
}/*# sourceMappingURL=style.css.map */