$color-blue: rgb(55, 85, 85);
$white: #ffffff;
$orange: #fca311;
$secondary: #14213d;
$secondary-light: #1c2e54;

$gray: #b3b3b3;
$gray-light: #f2f2f2;
$dark-grey: #3e3e3e;
$grey-form: #f7f7f7;
$footer-grey: #cccccc;
